:root {
    --tom-azul: #174367;
    --tom-azul2: #020a2a;
    --tom-azul3: #123a7a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #f0f0f0;
}

body {
    overflow-x:hidden;
}

.mensagemAviso {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    color: white;
    font-size:18px;
    font-weight:600;
    border-radius: 8px;
    display:none;
}

.mensagemAviso.sucesso {
    background-color: #2ecc71;
}

.mensagemAviso.erro {
    background-color: #e74c3c;
}

.bordaErro {
    border: 1px solid #e74c3c !important;
}

/* Página 404 */
#body404 {
    display:flex;
    align-items:center;
    padding:8px;
}

#body404 .bloco {
    padding: 20px;
    display:flex;
    justify-content:center;
    text-align: justify;
}

#body404 .bloco404 {
    max-width: 1000px;
    margin: 5vh auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #F1F1F3;
}

#body404 .bloco404 h1 {
    text-align: center;
    margin: 20px 0px;
}

#body404 .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#body404 .logo img {
    max-width: 100%;
    height: auto;
}
#body404 .botao {
    padding: 10px 16px;
    background-color: var(--tom-azul);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Página 404 */

/* Página Login */
#bodyLogin {
    padding:8px;
}

#bodyLogin .bloco {
    padding: 20px;
}

#bodyLogin .bloco.alinharDireita {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

#bodyLogin .blocoLogin {
    max-width: 1000px;
    margin: 5vh auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #F1F1F3;
}

#bodyLogin .blocoLogin h1 {
    text-align: center;
    margin: 20px 0px;
}

#bodyLogin .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#bodyLogin .logo img {
    max-width: 100%;
    height: auto;
}

#bodyLogin label {
    display: block;
    margin-bottom: 5px;
}

.campoTexto {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.esqueciSenha {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}

.botao {
    padding: 10px 16px;
    background-color: #174367;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Página Login */

/* Topo Sistema */
.topoSistema {
    background: linear-gradient(135deg, var(--tom-azul2) 0%, var(--tom-azul) 40%, var(--tom-azul3) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
    background-size: cover;
    display:flex;
    align-items: center;
    color:#fff;
    padding:10px 20px;
}

.topoSistema .tituloTopo {
    width:400px;
    margin:0px;
}

.topoSistema ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 20px;
}

.topoSistema ul li {
    display: block;
    text-align: center;
    padding: 12px 16px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    transition: .2s;
}

.topoSistema ul li:hover {
    opacity: 0.7;
    cursor: pointer;
}

.topoSistema ul li a {
    color: white;
    text-decoration: none;
}
/* Topo Sistema */


/* Responsivo */
@media (max-width: 800px) {
    .topoSistema {
        flex-direction: column;
        align-items: flex-start;
        padding:20px;
    }

    .topoSistema .tituloTopo {
        width: 100%;
        text-align: center;
    }

    .topoSistema ul {
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }


}
/* Responsivo */


